<table id="baremetal" class="display nowrap">
    <thead>
    <tr>
        <th>UUID</th>
        <th>Name</th>
        <th>Instance UUID</th>
        <th>Provision State</th>
        <th>Resource Class</th>
        <th>Maintenance</th>
        <th>Maintenance Reason</th>
        <th>Power State</th>
    </tr>
    </thead>
</table>