<table id="compute" class="display nowrap">
    <thead>
    <tr>
        <th>ID</th>
        <th>Project ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Flavor</th>
        <th>Addresses</th>
    </tr>
    </thead>
</table>