<table id="image" class="display nowrap">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Visibility</th>
        <th>Container Format</th>
        <th>Disk Format</th>
        <th>Virtual Size</th>
        <th>File</th>
        <th>Checksum</th>
    </tr>
    </thead>
</table>