<table id="loadbalancer" class="display nowrap">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Provisioning Status</th>
        <th>Operating Status</th>
        <th>Project ID</th>
        <th>Vip Address</th>
        <th>Vip Port ID</th>
        <th>Vip Network ID</th>
        <th>Vip Subnet ID</th>
        <th>Flavor ID</th>
    </tr>
    </thead>
</table>