<table id="network" class="display nowrap">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Subnets</th>
        <th>Project ID</th>
        <th>Shared</th>
    </tr>
    </thead>
</table>