<table id="port" class="display nowrap">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Network ID</th>
        <th>MAC</th>
        <th>Fixed IPs</th>
        <th>Project ID</th>
        <th>Device ID</th>
    </tr>
    </thead>
</table>