<table id="volume" class="display nowrap">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Size</th>
        <th>Volume Type</th>
<!--        <th>Attachments</th>-->
        <th>User ID</th>
    </tr>
    </thead>
</table>